# RabbitMQ
RABBITMQ_USERNAME= REPLACE_ME
RABBITMQ_PASSWORD= REPLACE_ME

# Gmail
MAIL_USERNAME= REPLACE_ME
MAIL_PASSWORD= REPLACE_ME

# Twilio
TWILIO_ACCOUNT_SID= REPLACE_ME
TWILIO_AUTH_TOKEN= REPLACE_ME
TWILIO_FROM_NUMBER= REPLACE_ME