# Database Configuration
# Internal Docker networking is used by default
SPRING_DATASOURCE_URL=jdbc:postgresql://user-db:5432/user_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=REPLACE_ME
GOOGLE_CLIENT_SECRET=REPLACE_ME

# JWT Configuration
JWT_SECRET=f93hF92jf02jf9Jf02jf9Jf02jf9Jf02jf9Jf02jf9Jf02jf9Jf02jf9Jf0
